<div>
    <form name="PaymentForm" novalidate>
        {{name}}
       <div>
           <label>Card Number</label>
           <input type="text" ng-model="card.number" />
       </div>  
       <div>
           <label>Expiry Date</label>
           <input type="text" ng-model="card.expiry"/>
       </div>
       <div>
           <label>CardHolder</label>
           <input type="text" ng-model="card.holder"/>
       </div>
       <div>
           <label>CVV</label>
           <input type="text" ng-model="card.cvv" />
       </div>
       <div>
           <button type="submit" ng-click="pay()">Pay Now </button>
       </div>
    </form>
</div>