<div>
    <form name="PaymentForm" novalidate>
        <div>
           <label>Amount</label>
           <input type="text" ng-model="amount" required/>
           {{amount |  currency:undefined:2}}
       </div>
       <div>
           <card-number value="card.number" label="Card Number" id="CardNumber"></card-number>
            <card-brand value="card.number" type="paymentBrand"></card-brand>
       </div>  
       <div>
             <card-expiry value="card.expiry"  label="Card Expiry" id="CardExpiry"></card-expiry>
       </div>
       
       <div>
           <card-cvv value="card.cvv" label="Card Cvv" id="CardCvv"></card-cvv>
       </div>
       <div>
           <label>CardHolder</label>
           <input type="text" ng-model="card.holder" required/>
       </div>
       <div>
           <button type="submit" ng-click="pay()" ng-disabled="PaymentForm.$invalid">Pay Now </button>
       </div>
    </form>
</div>