<div>
    <form action="">
       <div>
           <label>Card Number</label>
           <input type="text" ng-model="payForm.cardNumber" />
       </div>  
       <div>
           <label>Expiry Date</label>
           <input type="text" ng-model="payForm.cardExpiry"/>
       </div>
       <div>
           <label>CardHolder</label>
           <input type="text" ng-model="payForm.cardExpiry"/>
       </div>
       <div>
           <label>CVV</label>
           <input type="text" />
       </div>
       <div>
           <button type="submit">Pay Now </button>
       </div>
    </form>
</div>